.navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    padding: 5px 30px;
    box-sizing: border-box;
    transition: .5s;    
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all .5s ease-in-out; 
}
.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.img {
    height: 65%;
    border-radius: 50%;
    margin-top: 10px;
}

.owner {
    font-family: Orbitron;
    text-shadow: 6px 6px 9px rgba(rgb(57, 3, 82), 0.4);
    height: 20%;
    margin-top: -10px;  
    color: white;
    font-size: 10px;
    font-weight: lighter;
    transition: all .5s ease-in-out;
}

.hamburger-container {
    display: flex;
    align-items: center;
}

.hamburger {
    display: block;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    -webkit-tap-highlight-color: transparent !important;
}

.hamburger-react {
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    -webkit-tap-highlight-color: transparent !important;
}