.navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    padding: 5px 30px;
    box-sizing: border-box;
    transition: .5s;    
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all .5s ease-in-out; 
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.owner {
    font-family: Orbitron;
    /* height: 70%; */
    /* margin-top: 0.5vh;   */
    color: white;
    font-size: 14px;
    font-weight: lighter;
    transition: all .5s ease-in-out;
}

.ham {
    display: flex;
    align-items: center;
}

.hamburger {
    display: block;
}