.footer {
    z-index: 1;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 40px;
    box-sizing: border-box; 
    background-color: black;
} 

.copyright {
    text-transform: uppercase;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
