.footer {
    z-index: 1;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 40px;
    box-sizing: border-box; 
    background-color: black;
} 

.footer-container {
    position: relative;
    box-sizing: border-box; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center;
}

.quick-links {
    justify-content: center;
}

.footer-ul {
    padding-inline-start: 0px;
}

.footer-list {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
}

.footer-list a {
    text-decoration: none;
}

.footer-list a pre {
    font-family: orbitron !important;
    font-size: 14px;
    color: white;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: orbitron;
    font-size: 10px;
  }
